@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
	padding: 0;
	user-select: none;
}

body{
	font-family: "Roboto", sans-serif;
	text-align: center;
	background-color: white;
	width: 100%;
	margin-top: 80px;
}

.assistance li{
	margin-top: 30px;
}

.assistance p{
	margin-top: 20px;
}

