body{
	text-align: center;
}

.message{
	display: flex;
	margin-left: 20px;
}

.message .email{
	width:15%;
	border: 1px black solid;
}

.message .texte{
	width: 25%;
	border: 1px black solid;
}

.message .read{
	width: 5%;
	border: 1px black solid;
}

h2 {
	margin-top: 120px;
	margin-bottom: 30px;
}
