body{
	text-align: center;
	margin-top: 150px;
}

h2{
	margin-top: 70px;
	padding-top: 20px;
	border: 2px black solid;
	width: 300px;
	height: 50px;
	margin-left: 41%;
}

#environnement h2{
	background-image: url("../images/environnement.jpg");
	color: white;
}

#securite h2{
	background-image: url("../images/securite.jpg");
	background-position: center;
	color: white;
}

#confort h2{
	background-image: url("../images/confort.jpg");
	background-position: center;
	background-size: 100%;
	color: white;
}

.service{
	border: 2px black solid;
	width:400px;
	background-color: black;
	color: white;
	margin: 20px;
	padding: 10px;
}

.services{
	display: flex;
	justify-content: center;
}

.ajout_service{
	width:350px;
	margin: 40px;
	border: 2px rgb(0, 0, 52) solid;
	background-color: rgb(0, 0, 52);
	color: white;
	text-align: center;
	border-radius: 4%;
	line-height: 30px;
	padding: 10px;
}

.ajout_service h1{
	margin-top: 10px;
	margin-left: 0px;
}

.supprimer_service{
	width:220px;
	height: 220px;
	margin: 40px;
	margin-top: 70px;
	border: 2px rgb(0, 0, 52) solid;
	background-color: rgb(0, 0, 52);
	color: white;
	text-align: center;
	border-radius: 4%;
	line-height: 30px;
	padding: 10px;
}

.supprimer_service h1{
	margin-top: 10px;
	margin-left: 0px;
}

.modif_service{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}